
<div id="battle_menu">
  <div id="action_buttons">
    <a class="fight_button" onmousedown="javascript:game.actionMenu.chooseAction('fight_button');"><div id="fight_button" class="action_buttons">Fight</div></a>
  </div>

  <%= render "menus/mob_list" %>

	<%= render "menus/character_list" %>

</div>
