*{
    padding:0;
    margin:0;
  }
  
  a { 
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  } 
  
  body{
    background:black;
    font-family:'Final Fantasy Script Collection - Final Fantasy VI SNESa';
  
    text-shadow: 2px 2px #000000;
    color:white;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  
  
  div#content{
      position:relative;
      margin: 0 auto;
      width:1000px;
  }
  
/* canvas {
    position:absolute;
    top:5px;
    left:0;
    width: 1000px;
    height: 630px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} */
  
canvas#title_screen {
    border: 1px solid blue; 
      
    position:absolute;
    top:5px;
    left:0;
    width: 1000px;
    height: 630px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
  
canvas#battle_screen {
    border: 1px solid green; 
    display:none;
    height:430px;
      
    position:absolute;
    top:5px;
    left:0;
    width: 1000px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
  
  canvas#battle_background{
    background:red;
    border: 1px solid green; 
    height:430px;
    display:none;
    
    position:absolute;
    top:5px;
    left:0;
    width: 1000px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  
  
  div#battle_menu{
    position:absolute;
    display:none;
    top:431px;
    left:0px;
    height: 200px;
    width: 1002px;
    margin:0;
    padding:0;
  
    /*background:#0000ff;*/
  }
  
  div#battle_menu *{
    background:#0000ff;
  }
  
  
  @-webkit-keyframes fontbulger {
    0%, 100% {
      font-size: 1.2em;
      line-height: 1.6em;
    }
    50% {
      font-size: 1.4em;
      line-height: 1.2em;
    }
  }
  
  @-moz-keyframes fontbulger {
    0%, 100% {
      font-size: 1.2em;
      line-height: 1.6em;
    }
    50% {
      font-size: 1.4em;
      line-height: 1.2em;
    }
  }
  
  .activated_picking{
    -webkit-animation: fontbulger 1s infinite;
    -moz-animation:    fontbulger 1s infinite;
    -ms-animation:     fontbulger 1s infinite;
    -o-animation:      fontbulger 1s infinite;
  }
  
  .action_buttons{
    cursor: pointer;
    background:purple;
    width:150px;
    height:60px;
    position:absolute;
    border-radius:20px;
    
    text-align:center;
    padding-top:15px;
    border:solid white;
  
    font-size: 1.2em;;
  }
  
  a.fight_button{
    
  }
  
  a.fight_button:active{
    color:red;
  }
  
  div#fight_button{
    display:none;
    bottom:175px;
    left:20px;
    background:purple;
    z-index:0;
  }
  
  
  
  
  .menu_border{
    border-style:ridge;
    border-color:white;
    border-width:10px;
    border-radius:10px;
  }
  
  div#battle_menu #enemies{
    position:relative;
    z-index:0;
      height: 141px;
    width: 240px;
    float:left;
    
    padding:20px;
    
    border-style:ridge;
    border-color:white;
    border-width:10px;
    border-radius:10px;
  }
  
  div#battle_menu li{
    text-decoration:none;
    list-style-type: none;
    padding-bottom:10px;
    padding-left:10px;
    font-size: 1em;
  }
  
  
  
  #mob_list li {
    cursor:default;
    height: 22px;
  }
  
  
  
  div#battle_menu #party{
    height: 181px;
    width: 682px;
    float:left;
    
    margin-right:0px;
  }
  
  
  
  
  
  
  
  #character_list { 
    cursor:default;
    
    li div{
      float:left;
      padding: 10px 0;
      height: 22px;
    }
  
    .name{
      margin-left:30px;
      width: 160px;
    }
  
    .current_hp{
      margin-left:40px;
      width:90px;
      text-align:right;
    }
  
    .max_hp{
      margin-left:0px;
      width:90px;
      text-align:right;
    }
  
    .current_mp{
      width:70px;
      margin-left:20px;
      color:purple;
    }
  
    .time{
      position:relative;
      overflow:hidden;
      padding:0;
      margin-top:11px;
      margin-left:30px;
      width:100px;
      height:10px;
        
      border:solid;
      border-radius:20px;
      border-color:grey;
    }
  
    .time {
      .fill{
        position:absolute;
        width:20px;
        background:white;
        overflow:hidden;
      }
  
      .wait_bar{
        position:absolute;
        top:0;
        left:0;
        width:100px;
        height:10px;
        padding:0;
        margin:0;
      }
  
    }
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  #worldmap_screen{
    display:none;
  }
  
  
  
  .clear{
      clear:both;
  }
  
  
  
  
  
  
  
  
  