.container
  %h1 Initial Fantasy

  .row
    .col-md-4
      %p
        Hi, this was a project I started several years ago to brush up on my javascript programming styles.
        At that point, I hadn't been using javascript based frameworks such as
        BackBone or emberJS, therefore I felt I just wasn't getting enough javascript
        in my life.... boy has that changed.
        Anyway, from that lack of js, this side project was born; a canvas based
        2D remake of Final Fantasy II (SNES).  

  .row
    .col-md-4
      %div
        TODO:
        %ul
          %li Swap out WebAudioApiForDesigners for Howler.JS
          %li Add Phantom.JS unit tests so I can see where things are going wrong with mouse input... possibly fixed already
          %li Add a "You Win" screen to make the demo seem complete to prospective employers demo

  .row
    Click this
    =link_to "link", "/pages/game"
    to watch the demo!
