%h1 Initial Fantasy

%p
  Hi, this was a project I started several years ago to brush up on my javascript programming styles 
  (as most rails devs know, our occational jQuery usage usually doesn't span very many lines of code to get the job done).  


%p
  Due to how edge-railx0r I was when I started this project, 
  I used brand spanking new features of the web browser and tested against only chrome and fire fox.
  Years down the road, these features have been mutated or removed all together
  and what we've learned is that when we make these kinds of 'low level' browser applications, 
  we need to keep track of which versions of browsers we've tested successfully againts.  


%p
  I don't maintain this project, though I would like to come back to it at some point, 
  especially considering the fact that everything I did in js and the canvas seems to still work the way it did when I left off!
  That's great news!
  But at the moment, you won't be able to see thing correctly in FireFox, only chrome will work, and the 'fight' button 


%div
  TODO:
  %ul
    %li Swap out WebAudioApiForDesigners for Howler.JS
    %li Add Phantom.JS unit tests so I can see where things are going wrong with mouse input... possibly fixed already
    %li Add a "You Win" screen to make the demo seem complete to prospective employers demo


