<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>Initial Fantasy</title>
    <link rel="shortcut icon" href="/favicon2.ico" type="image/x-icon" />

	<!-- 	FFIV FONT	 -->
	<style media="screen" type="text/css">/*<![CDATA[*/@import '/fonts/hacked_font/stylesheet.css';/*]]>*/</style>
	<%= stylesheet_link_tag "application" %>

	<%= javascript_include_tag "application" %>

	<script src="/javascripts/initial_fantasy/engine/initial_fantasy.js"></script>

	<script src="/javascripts/initial_fantasy/engine/assetLoading.js"></script>
	<script src="/javascripts/initial_fantasy/engine/userInput.js"></script>
    <script src="/javascripts/initial_fantasy/engine/debugging.js"></script>
	<script src="/javascripts/initial_fantasy/engine/gameLoop.js"></script>

	<script src="/javascripts/initial_fantasy/engine/sceneDirector.js"></script>
    <script src="/javascripts/initial_fantasy/engine/screen.js"></script>


	<script src="/javascripts/initial_fantasy/titleScreen.js"></script>

    <script src="/javascripts/initial_fantasy/battle_screen/battleScreen.js"></script>
    <script src="/javascripts/initial_fantasy/battle_screen/unit.js"></script>
    <script src="/javascripts/initial_fantasy/battle_screen/mob.js"></script>
    <script src="/javascripts/initial_fantasy/battle_screen/hero.js"></script>
	<script src="/javascripts/initial_fantasy/battle_screen/actionAnimation.js"></script>
    <script src="/javascripts/initial_fantasy/battle_screen/animationDefinitions.js"></script>
    <script src="/javascripts/initial_fantasy/battle_screen/actionMenu.js"></script>

	<script src="/javascripts/globals.js"></script>
    <script src="/javascripts/initializeGame.js"></script>
</head>

<body>
	<%= yield %>
</body>

</html>
