<!DOCTYPE html>

<html>

	<head>
	  <meta charset="UTF-8">
	  <title>Initial Fantasy</title>
    <link rel="shortcut icon" href="/favicon2.ico" type="image/x-icon" />
    
		<!-- 	FFIV FONT	 -->
		<style media="screen" type="text/css">/*<![CDATA[*/@import '/fonts/hacked_font/stylesheet.css';/*]]>*/</style>
		<%= stylesheet_link_tag "application" %>

		<%= javascript_include_tag "application" %>
	  
    <script src="/javascripts/globals.js"></script>

     <script src="/javascripts/initial_fantasy/sceneDirector.js"></script>

    <script src="/javascripts/initial_fantasy/screen.js"></script>
    <script src="/javascripts/initial_fantasy/titleScreen.js"></script>
    <script src="/javascripts/initial_fantasy/battleScreen.js"></script>

    <script src="/javascripts/initial_fantasy/unit.js"></script>
    <script src="/javascripts/initial_fantasy/mob.js"></script>
    <script src="/javascripts/initial_fantasy/hero.js"></script>

    <script src="/javascripts/initial_fantasy/actionAnimation.js"></script>
    <script src="/javascripts/initial_fantasy/actionMenu.js"></script>

    <script src="/javascripts/initial_fantasy/userInput.js"></script>
    <script src="/javascripts/initial_fantasy/debugging.js"></script>

    <script src="/javascripts/initialize_game.js"></script>
		
		
		
	</head>

<body>

	<%= yield %>

</body>

</html>